.Announcement {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.Announcement-title {
  margin-right: 5px;
  display: flex;
  align-items: center;
  align-content: flex-end;
}

.Announcement-content {
  position: relative;
  display: flex;
}
.Announcement-slider {
  width: 95%;
  display: flex;
  align-content: center;
  align-items: center;
}

.Announcement-dark-mode-button {
  border: 1px solid rgb(0, 0, 0) !important;
  border-radius: 5px;
}

.custom-arrow {
  position: absolute;
  right: 10px; /* 버튼을 오른쪽에 정렬 */
  z-index: 10;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.custom-prev {
  bottom: 30px;
}

.custom-prev:hover {
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
}

.custom-next {
  top: 30px;
}

.custom-next:hover {
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
}
