.EndFestival-container {
  max-width: 100%;
  margin: auto;
}

.EndFestival-name {
  margin-bottom: 10px;
}

.EndFestival-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.EndFestival-item:hover {
  transform: translateY(-10px); /* 마우스 올리면 위로 10px 이동 */
}
.EndFestival-item h4 {
  width: 100%;
  white-space: nowrap; /* 한 줄 유지 */
  overflow: hidden; /* 넘치는 글자 숨김 */
  text-overflow: ellipsis; /* ...으로 생략 */
  max-width: 90%; /* 부모 요소 안에서 최대 너비 지정 */
  display: block;
  text-align: center;
}

.EndFestival-image {
  width: 100%;
  height: 150px; /* 원하는 높이 설정 */
  object-fit: cover;
  border-radius: 10px;
}
