.scroll-down-arrow {
  text-align: center;
  position: relative;
  height: 70px;
  opacity: 1;
}

.arrow {
  font-size: 3rem;
  left: 50%;
  transform: scaleX(1.5); /* 가로 방향으로 늘리기 */
}

.arrow:nth-child(1) {
  top: 0;
  animation-delay: 0s;
}

.arrow:nth-child(2) {
  top: 25px;
  animation-delay: 0.5s;
}

.arrow:nth-child(3) {
  top: 50px;
  animation-delay: 1s;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.fade-in-section {
  opacity: 0;
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
  transform: translateY(50px);
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}
