<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeus.admin.mapper.AdminMapper">
	<insert id="insert">
	insert into test values(test_seq.NEXTVAl,#{name})
	</insert>
	
	<!-- ManagerManage -->
	<select id="managerSelectAllBySearch" resultType="User" parameterType="User">
		SELECT * FROM USER_ACCOUNT WHERE ROLE = 1 AND NAME LIKE '%'||#{name}||'%' ORDER BY NO ASC
	</select>
	
	<insert id="managerInsert" parameterType="User">
		INSERT INTO USER_ACCOUNT (NO, ID, PWD, PHONE, REG_DATE, ROLE, NAME)
VALUES (SEQ_USER_ACCOUNT_NO.NEXTVAL, #{id}, #{pwd}, #{phone}, SYSDATE, 1, #{name})
	</insert>

	<update id="managerUpdate" parameterType="User">
		UPDATE USER_ACCOUNT SET ID=#{id}, PWD=#{pwd}, PHONE=#{phone}, NAME=#{name} WHERE NO=#{no}
	</update>

	<!-- UserManage -->
	<select id="userSelectAllBySearch" resultType="User" parameterType="User">
		SELECT * FROM USER_ACCOUNT WHERE ROLE = 2 AND NAME LIKE '%'||#{id}||'%' ORDER BY NO ASC
	</select>

	<delete id="userDelete" parameterType="map">
		DELETE FROM USER_ACCOUNT WHERE NO IN
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<!-- FestivalManage -->
	<select id="festivalSelectAllBySearch" resultType="AdminEventDTO" parameterType="AdminEventDTO">
		SELECT
		E.NO,
		E.PUBLIC_DATA_EVENT_NO,
		E.USER_ACCOUNT_NO,
		E.PRICE,
		E.RATING,
		UA.NAME AS USER_NAME,
		PDE.NAME AS EVENT_NAME,
		PDE.PLACE,
		PDE.START_DATE,
		PDE.END_DATE,
		PDE.CONTENT,
		PDE.TEL,
		PDE.HOMEPAGE
		FROM EVENT E
		LEFT JOIN ADMIN.USER_ACCOUNT UA
		ON E.USER_ACCOUNT_NO = UA.NO
		LEFT JOIN ADMIN.PUBLIC_DATA_EVENT PDE
		ON E.PUBLIC_DATA_EVENT_NO = PDE.NO
		WHERE PDE.NAME LIKE '%'||#{eventName}||'%' ORDER BY E.NO ASC
	</select>

	<delete id="festivalDelete" parameterType="map">
		DELETE FROM EVENT WHERE NO IN
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<!-- FestivalReviewManage-->
	<select id="reviewSelectAllBySearch" resultType="AdminReviewDTO" parameterType="AdminReviewDTO">
		SELECT
			ER.NO,
			ER.CONTENT,
			ER.SUB_DATE,
			ER.EVENT_NO,
			ER.USER_ACCOUNT_NO,
			ER.RATING,
			UA.NAME AS USER_NAME,
			PDE.NAME AS EVENT_NAME
		FROM EVENT_REVIEW ER
		LEFT JOIN USER_ACCOUNT UA
		ON ER.USER_ACCOUNT_NO = UA.NO
		LEFT JOIN EVENT E
		ON ER.EVENT_NO = E.NO
		LEFT JOIN PUBLIC_DATA_EVENT PDE
		ON E.PUBLIC_DATA_EVENT_NO = PDE.NO
		WHERE PDE.NAME LIKE '%'||#{eventName}||'%' ORDER BY ER.NO ASC
	</select>

	<delete id="reviewDelete" parameterType="map">
		DELETE FROM EVENT_REVIEW WHERE NO IN
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
</mapper>