# Node.js 관련 (React)
node_modules/
build/
dist/
.env
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Spring Boot 관련
target/
*.log
*.class
*.war
*.jar

# IDEA/IntelliJ 관련
*.iml
.idea/

# Eclipse 관련
.project
.classpath
.settings/

# Maven 관련
.mvn/
!**/mvn/wrapper/mvnw*
target/

# Gradle 관련
.gradle/
build/
!gradlew
!gradlew.bat

# MacOS 관련
.DS_Store

# Windows 관련
Thumbs.db
ehthumbs.db
Desktop.ini

# Oracle 관련
*.sql~  # 임시 SQL 파일
*.dmp   # 데이터 덤프 파일
*.log   # 로그 파일

# 기타
*.~*
