<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- mapUnderscoreToCamelCase 프로퍼티 값을 true 로 지정 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<package name="com.zeus.admin.domain" />
		<package name="com.zeus.event.domain" />
		<package name="com.zeus.eventcalendar.domain" />
		<package name="com.zeus.eventmap.domain" />
		<package name="com.zeus.main.domain" />
		<package name="com.zeus.manger.domain" />
		<package name="com.zeus.notice.domain" />
		<package name="com.zeus.qna.domain" />
		<package name="com.zeus.user.domain" />
	</typeAliases>
	
</configuration>
