.EventMapKorea-mapSection {
  max-width: 1300px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
  
.EventMapKorea-button-container {
  margin-top: 20px;
  margin-right: 5px;
}