.admin-aside {
  width: 250px;
  height: 100vh;
  background: #2c3e50;
  color: white;
  flex-direction: column;
  padding: 20px;
  position: fixed;
}

.admin-aside-brand h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 0px;
}

.admin-aside-brand h2 a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.admin-aside-nav {
  flex-grow: 1;
}

.admin-aside-nav a {
  margin: 5px 0px;
}

.admin-aside-nav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.admin-aside-nav a:hover,
.admin-aside-nav .active {
  background: #16a085;
  transition: 0.3s;
}
