.BookingList-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1200px;
  /* margin: 40px auto 0 auto; */
  border: solid 1px red;
}

.BookingList-header {
  margin-top: 50px;
  margin-left: 50px;
}

.BookingList-menu {
  width: 200px;
  border-top: 3.5px solid;
  border-bottom: 3.5px solid;
  padding: 20px;
  box-sizing: border-box;
  height: 430px;
  margin-left: 150px;
}

.BookingList-menu ul {
  list-style-type: none;
  padding: 0;
}

.BookingList-menu li {
  margin: 10px 0;
}

.BookingList-menu span {
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  transition: color 0.3s ease, padding-left 0.3s ease;
}

/* Hover effect */
.BookingList-menu span:hover {
  padding-left: 20px; /* 왼쪽 패딩을 추가하여 오른쪽으로 이동하는 느낌을 줌 */
}

/* 클릭된 항목에 밑줄 유지 */
.BookingList-menu span.active::before {
  width: 100%;
}

.BookingList-menu span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0;
  height: 2px;
  background-color: #252429;
  transition: width 0.3s ease;
}

.BookingList-menu.dark-mode span::before {
  background-color:white
}

/* Hover 시 밑줄 효과 */
.BookingList-menu span:hover::before {
  width: 100%; /* hover 시 밑줄이 전면에 나타남 */
}

/* 클릭된 항목의 밑줄 유지 */
.BookingList-menu span.active::before {
  width: 100%;
}

/* 오른쪽 콘텐츠 */
.BookingList-content {
  margin-left: 370px; /* 메뉴가 200px이고, 20px 여백을 주었기 때문에 220px */
  padding: 20px;
  width: calc(100% - 220px);
}

/* 각 섹션 */
.BookingList-section {
  display: none;
  border: solid 1px red;
}

.BookingList-section.active {
  display: block;
}

.BookingList-button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #252429;
  color: white;
}

.BookingList-button:hover {
  background-color: #252429d8;
}
