.MyPageMain-wrapper {
  display: flex;
}

.MyPageMain-header {
  margin-left: 50px;
  margin-bottom: 100px;
}

.MyPageMain-menu {
  width: 200px;
  border-top: 3.5px solid ;
  border-bottom: 3.5px solid;
  padding: 20px;
  box-sizing: border-box;
  height: 430px;
  /* position: fixed; */
  margin-left: 100px;
  min-width: 200px;
}

.MyPageMain-menu ul {
  list-style-type: none;
  padding: 0;
}

.MyPageMain-menu li {
  margin: 10px 0;
}

.MyPageMain-menu span {
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  transition: color 0.3s ease, padding-left 0.3s ease;
  cursor: pointer;
}

.MyPageMain-menu span:hover {
  padding-left: 20px;
}

.MyPageMain-menu span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0;
  height: 2px;
  background-color:#252429;
  transition: width 0.3s ease;
}

.MyPageMain-menu.dark-mode span::before {
  background-color:white
}

.MyPageMain-menu span:hover::before {
  width: 100%;
}

/* 클릭한 항목에 밑줄 유지 */
.MyPageMain-menu span.active::before {
  width: 100%;
}

/* 오른쪽 콘텐츠 */
.MyPageMain-content {
  margin-left: 370px;
  padding: 20px;
  width: calc(100% - 220px);
}

.MyPageMain-section {
  display: none;
}

.MyPageMain-section.active {
  display: block;
}

.MyPageMain-button-container {
  margin-left: 500px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.MyPageMain-button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #252429;
  color: white;
}

.MyPageMain-button:hover {
  background-color: #252429d8;
}

/* 프로필 정보 */
.MyPageMain-profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.MyPageMain-input {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
