<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeus.event.mapper.EventMapper">


	<select id="selectPublicDataEvent" parameterType="User"
		resultType="PublicDataEventDTO">
		SELECT * FROM USER_MANAGEMENT_EVENT A
		LEFT JOIN
		PUBLIC_DATA_EVENT B
		ON A.PUBLIC_DATA_EVENT_NO = B.NO
		WHERE
		A.USER_ACCOUNT_NO=#{no}
	</select>

	<select id="selectEventList" parameterType="SortDTO"
		resultType="EventSelectListDTO">
		SELECT E.NO, NAME, START_DATE,END_DATE,THUMBURL FROM EVENT
		E LEFT JOIN EVENT_IMG I ON E.NO=I.EVENT_NO
		LEFT JOIN PUBLIC_DATA_EVENT
		P ON E.PUBLIC_DATA_EVENT_NO = P.NO
		WHERE I.THUMBURL IS NOT NULL
		ORDER BY
		E.NO DESC
	</select>

	<select id="selectEventRead" parameterType="sortDTO"
		resultType="EventSelectRead">
		SELECT E.NO, P.NO AS PUBLIC_DATA_EVENT_NO, NAME,PRICE,
		PLACE,START_DATE,END_DATE,CONTENT,GOVERNING,HOST,TEL,HOMEPAGE,ADDRESS,LATITUDE,LONGITUDE,I.THUMBURL
		FROM EVENT E
		LEFT JOIN PUBLIC_DATA_EVENT P
		ON E.PUBLIC_DATA_EVENT_NO = P
		.NO
		LEFT JOIN EVENT_IMG I
		ON E.NO = I.EVENT_NO
		WHERE E.NO=#{no} AND
		I.THUMBURL IS NOT NULL
	</select>

	<select id="selectEventReadSub" parameterType="sortDTO"
	 resultType="String">
		SELECT URL FROM event
		E
		LEFT JOIN event_img I
		ON E.NO = I.event_no
		WHERE E.NO=#{no} AND I.URL IS
		NOT NULL
	</select>

	<select id="selectEventReadReview" parameterType="sortDTO"
		resultType="EventReview">
		SELECT r.no, content, event_no, r.user_account_no, r.rating, r.sub_date,
		U.NAME
		FROM event E
		LEFT JOIN event_review r ON E.NO = r.event_no
		LEFT JOIN USER_ACCOUNT U ON r.user_account_no = U.NO
		WHERE E.NO = #{no} AND r.no IS NOT NULL
		ORDER BY r.no DESC
		OFFSET ((#{page} - 1) * 5) ROWS FETCH NEXT 5 ROWS ONLY

	</select>
	
	<select id="selectEventReadReviewCount" parameterType="sortDTO"
		resultType="int">
		SELECT
		COUNT(*) from event_review
		WHERE EVENT_NO= #{no}
	</select>
	
	<select id="selectEventReadReviewRating" parameterType="sortDTO"
		resultType="Double">
		SELECT
		RATING from event_review
		WHERE EVENT_NO= #{no}
	</select>
	
	<insert id="insertEventReview" parameterType="EventReview"
		>
		INSERT INTO EVENT_REVIEW VALUES(SEQ_EVENT_REVIEW_NO.NEXTVAL,#{content},SYSDATE,#{eventNo},#{userAccountNo},#{rating})
	</insert>
</mapper>
