/* Q&A 스타일 */
.QNA-title-container {
  text-align: center;
  padding: 20px 0;
}

.QNA-title {
  font-size: 24px;
  font-weight: bold;
}

.QNA-table-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.QNA-board-table {
  width: 90%;
  border-collapse: collapse;
}

.QNA-board-table th, .QNA-board-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.QNA-board-table th {
  font-weight: bold;
}

.QNA-reply {
  padding-left: 30px;
  font-style: italic;
}

.QNA-title-link {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 기존 텍스트 색상 유지 */
}

.QNA-title-link:hover {
  text-decoration: underline; /* 마우스 오버 시 밑줄 추가 */
}

/* 글쓰기 버튼 스타일 */
.QNA-write-button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.QNA-write-btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
