<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeus.notice.mapper.NoticeMapper">
    <select id="getNoticesByPage" resultType="Notice">
        SELECT * FROM (
        SELECT n.*, ROWNUM AS rnum FROM (
            SELECT NO, TITLE, CONTENT, SUB_DATE 
            FROM NOTICE 
            ORDER BY NO DESC
        ) n WHERE ROWNUM <![CDATA[<]]>= #{page} * #{pageSize}
    ) WHERE rnum <![CDATA[>]]> (#{page} - 1) * #{pageSize}
    </select>
    
	
    <!-- ✅ 특정 공지사항 조회 -->
    <select id="getNoticeById" parameterType="int" resultType="Notice">
        SELECT * FROM notice WHERE NO = #{no}
    </select>
    
    <!-- 전체 공지사항 개수 조회 -->
    <select id="getTotalNoticesCount" resultType="int">
        SELECT COUNT(*) FROM NOTICE
    </select>
    
</mapper>