/* 공지사항 제목 */
.Notice-title-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 100px;
  margin-top: 10px;
}

.Notice-title {
  font-size: 28px;
  color: #333333;
  font-weight: 600;
  margin: 0;
}

/* 검색창 정렬 유지 */
.Notice-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.Notice-board-search {
  width: auto;
}

.Notice-search-wrap {
  display: flex;
  align-items: center;
}

.Notice-search-input {
  height: 40px;
  width: 250px;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

/* 검색 버튼 */
.Notice-btn {
  display: inline-block;
  padding: 8px 20px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  cursor: pointer;
  border: 1px solid #333;
}

.Notice-btn-dark {
  background: #555;
  color: #fff;
}

.Notice-btn-dark:hover {
  background: #373737;
  border-color: #373737;
}

.Notice-sort-select{
  height: 40px;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
  margin-left: 5px;
} 

.Notice-board-table {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid #333;
  table-layout: fixed;
}

/* 테이블 헤더 정렬 */
.Notice-board-table th {
  text-align: center;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
}

.Notice-th-num {
  width: 15%;
  text-align: center;
}

.Notice-th-title {
  width: 54%;
  text-align: center;
}

.Notice-th-date {
  width: 15%;
  text-align: center;
}

.Notice-board-table td {
  padding: 8px;
  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
}

.Notice-td-title {
  text-align: left;
  padding-left: 20px;
}

.Notice-td-title a {
  padding: 15px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  text-decoration: none;
}

.Notice-td-title a:hover{
  color: #9c9c9c;
}