<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeus.manager.mapper.ManagerMapper">

	<!-- 이벤트 데이터 삽입 -->
	<insert id="insertEventByManager" parameterType="Event">
	<selectKey keyProperty="no" resultType="int" order="AFTER">
        SELECT SEQ_EVENT_NO.CURRVAL FROM DUAL
    </selectKey>
		INSERT INTO EVENT (NO,PUBLIC_DATA_EVENT_NO, USER_ACCOUNT_NO, PRICE, RATING)
		VALUES (SEQ_EVENT_NO.NEXTVAL,#{publicDataEventNo}, #{userAccountNo}, #{price}, 3)
	</insert>


	<!-- 이벤트 이미지 데이터 삽입 -->
	<insert id="insertEventImgByManagerThumb" parameterType="EventImg">
		INSERT INTO
		EVENT_IMG (NO, EVENT_NO,THUMBURL) VALUES (
		SEQ_EVENT_IMG_NO.NEXTVAL,
		#{eventNo},
		#{thumbUrl}
		)
	</insert>
	
		<!-- 이벤트 이미지 데이터 삽입 -->
	<insert id="insertEventImgByManagerSub" parameterType="EventImg">
		INSERT INTO
		EVENT_IMG (NO, EVENT_NO,URL) VALUES (
		SEQ_EVENT_IMG_NO.NEXTVAL,
		#{eventNo},
		#{url}
		)
	</insert>
</mapper>